BasedOnStyle: Microsoft
IndentWidth: 4

Language: Cpp 

AlignConsecutiveMacros: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true

DerivePointerAlignment: false
PointerAlignment: Left
